parser/.idea/
parser/.scrapy
parser/build
rest-service/bin/
rest-service/build
rest-service/.settings 
rest-service/.project
rest-service/.classpath
rest-service/.gradle
frontend/bin
frontend/build
frontend/.settings 
frontend/.project
frontend/.classpath
frontend/.gradle
