* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e3e3ef;
}

.crime-main {
  display: grid; 
  grid-template-rows:auto 1fr; 
  grid-template-columns:60% 40%; 
  grid-template-areas:      
    "map selector" 
    "map viewer" 
  ;  
}

.crime-selector {
  grid-area: selector;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;  
}

.crime-viewer {
  grid-area: viewer;
}

.crime-map {
  grid-area: map;
}

.leaflet-container {
  height: 800px;
}